@import '../../common/variables';

.navbar {
    padding: 2rem;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navlinks {
        display: flex;
        justify-content: space-between;
        flex: 2;

        a {
            text-decoration: none;
            text-transform: capitalize;
            color: $very-dark-blue;

            &:hover {
                color: $dark-grayish-blue;
            }
        }
    }

    .logo {
        flex: 1;
        text-align: left;
    }

    .get-started {
        flex: 1;
        text-align: right;
    }
}

.btn {
    border: none;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    color: $very-light-gray;
    background-color: $bright-red;

    &:hover {
        box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.3);
    }
}